@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
body {
  margin: 0;
  padding: 0;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}
