@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
body {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #eee;
  border-radius: 3px;
  padding:0px 15px;
}

input[type=text] {
  
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
}