@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
body {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  position: relative;
  max-width: 510px;
  height:300px;
  margin: 0 auto;
  background: #ddd;
  border-radius: 3px;
  border:1px solid #000;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

input[type="radio"]{
  transform: scale(1.5);
}

.answerOption {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 25px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  font-family:'Maven+Pro';
  font-weight:400;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.textChart{
  text-align: center;
  font-family: 'Maven+Pro';
  font-weight:400;
}
.btn{
  width:120px;
  height:45px;
  position: relative;
  left:630px;
  border-radius: 10px;
  background :blue;
  color:white;
  
}

.select{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
